
/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  a {
    color: #37505C;
    text-decoration: none;
    
  }
  
  /* Header */
  header {
    background-color: #113537;
    padding: 2px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  header img {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Navigation */
  .hamburger-menu {
    display: flex;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background-color: #FFEAD0;
    margin: 5px 0;
  }
  
  nav ul.menu {
    display: none;
    background-color: #37505C;
    margin-top: 0;
  }
  
  nav ul.menu.active {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  nav ul.menu li {
    display: inline-block;
    margin: 10px;
  }
  
  nav ul.menu li a {
    padding: 10px;
    text-decoration: none;
    color: #FFEAD0;
  }
  nav ul.menu li a.active {
    background-color: #113537;
  }

  .banner {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
  }
 .close-btn {
  background-color: transparent;
  border: none;
  color: #cb3333;
  cursor: pointer;
  font-size: 22px;
  margin-top: 10px;
  text-decoration: underline;
}
  
  /* Main Content */
  main {
    padding: 20px;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: #96616B;
  }
  
  .hero {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .hero img {
    max-width: 100%;
    height: auto;
  }
  
  .hero .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
  }

  .hero-text {
    text-align: center;
    color: #37505C;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    
  }
  
  .call-to-action {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  figure {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #777;
  }

  .current-events {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    background-color: #F4F1DE;
    text-align: center;
  }
  .current-events ul li {
    list-style: none;
  }
  .current-events ul {
    padding: 0;
  }
  
  .weather-card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F4F1DE;
    text-align: center;
  }

  .weather-align {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .single-forecast {
    grid-column-start: 1;
    grid-column-end: auto;
    text-align: center;
  }
  .three-forecast {
    grid-column-start: 1;
    text-align: center;
  }
  #forecast-temperatures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    padding: 0;
    grid-gap:20px;
  }
  #forecast-temperatures li {
    list-style: none;
  } 
  h4 {
    margin: 0;
  }

  /*FORM*/
  h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}
.join-container {
  display: grid;
  justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.form-container {
  grid-row: 1;
}
.benefits {
  width: 50%;
  margin: 0 auto;
  grid-row: 2;
}

.benefits h2 {
  margin-top: 0;
}

.benefits h3 {
  margin-top: 20px;
}

.benefits ul {
  margin-bottom: 20px;
}
/*FORM*/
  .spotlights {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .spotlight img { 
    padding: 10px; /* Adjust the padding as desired */
  }
  h3, h4 {
    color: #113537;
  }
  
  .spotlight {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: span 3;
  }


  .spotlights h3 {
    grid-column-start: 1;
    grid-column-end: span 5;
    text-align: center;
  }

  .spotlight img {
    max-width: 100%;
    height: auto;
  }
  .container {
    display: grid;
    grid-template-areas: 
      "sidebar"
      "main";
  }
  
  /* Footer */
  footer {
    background-color: #37505C;
    color: #FFEAD0;
    padding: 20px;
  }
  
  .contact-info {
    margin-bottom: 10px;
  }
  
  .development-info {
    text-align: center;
  }
  
  /* Directory */
  #company-cards section {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #cccccc;
  }
  
  #company-cards h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  #company-cards p {
    margin-bottom: 4px;
  }
  
  #company-cards img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  .gridC {
    margin-left: -17px;
  }
  #company-cards.gridC {
    display: grid;
    width: calc(100%);
    margin-right: 16px;
    vertical-align: top;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  #company-cards.gridC section {
    grid-column-end: auto;
}

  #company-cards.list {
    width: 100%;
  }

  .view-toggle {
    margin-bottom: 16px;
  }
  
  .view-toggle label {
    margin-right: 8px;
  }