@media screen and (min-width: 768px) {
    header {
        height: 40px;
    }
    .hamburger-menu {
        display: none;
    }
  
    nav ul.menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
  
    nav ul.menu li {
        display: inline-block;
        margin: 10px 30px;
    }
  
    nav ul.menu li a {
        padding: 10px;
        text-decoration: none;
        font-size: 28px;
    }
    .sidebar {
      background-color: #f2f2f2;
      padding: 20px;
    }
    #s1 {
      grid-column-start: 2;
      grid-column-end: span 1; 
     }
     #s2 {
      grid-column-start: 3;
      grid-column-end: span 1; 
     }
     #s3 {
      grid-column-start: 4;
      grid-column-end: span 1; 
     }
    
     .join-container {
      display:flex;
      justify-content:center;
    }
    .form-container {
      width: 80%;
      margin: 0 auto;
    }
     .benefits {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .main-content {
      background-color: #ffffff;
      padding: 20px;
    }
    
    .image:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .container {
      grid-template-columns: 200px 1fr;
      grid-template-areas: 
        "sidebar main";
      }
      .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
    .current-events {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 175px;
      }
    .weather-card {
        grid-column-start: 3;
        grid-column-end: span 2;
        height: 175px;
      }
    .hero .btn {
        font-size: 25px;
      }
    .hero-text {
        text-align: center;
        color: #37505C;
        padding: 10px 20px;
        font-size: 22px;
        text-decoration: none;
        margin: 50px 150px;
      }
}