/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1d3557;
    color: #fff;
  }
  
  header img {
    border-radius: 50%;
    max-width: 200px;
    margin-right: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  
  
  
  /* Navigation */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .hamburger-menu .hamburger {
    width: 100%;
    height: 3px;
    background-color: #9c0d0d;
  }

  nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: #1a1c1d;
    padding: 0px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px; 
    flex-grow: 1; 
    text-align: center; 
  }
  
  nav .selected {
    background-color: #b38c5a;
  }
  
  nav a:hover {
    background-color: #a8dadc;
  }
  
  nav .selected a {
    color: #fff;
    padding: 8px 12px;
    border-radius: 0;
  }
  
  /* Main Content */
  .temple {
    display: flex;
    justify-content: center;
  }
  
  .temple img {
    width: 700px;
    height: auto;
  }
  
  .temple-container {
    position: relative;
    grid-column-start: auto;
    grid-column-end: span 2;
    height: auto /* Adjust the height as needed */
  }
  .hero-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .hero-label p {
    margin: 0;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    margin-top: -20px;
  }
  .card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  .divider {
    margin-top: -35px;
    padding: 20px 0;
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .card h3 {
    color: #1d3557;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .myform {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 10px;
  }

  main h2 {
    text-align: left;
  }

  main a {
    text-align: left;
    margin-top: -40px;
  }

  .iframe-container {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .iframe-container iframe {
    max-width: 100%;
  }

  /* Footer */
  footer {
    background-color: #1d3557;
    padding: 10px;
    color: #fff;
    text-align: center;
  }

  /* Extras */
  .container {
    display: none;
  }
  .note-bar {
    height: 40px;
    background-color: black;
  }

  #mode {
    position: absolute;
    top: .3rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  
  
  
  