  /* Responsive Styles */
  
  @media (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .temple img {
      position: relative;
      width: 80%;
      height: 400px; /* Adjust the height as needed */
    }
    .card {
      grid-column-start: unset;
      grid-column-end: unset;
      margin-bottom: 20px; 
    }
    main h2 {
        text-align: center;
    }
    nav .selected {
        grid-column-start: 0;
        grid-column-end: 2;
        padding-left:  350px;
        padding-right: 350px;
    }
    nav {
        margin: 0 auto;
        display:grid;
        justify-content: center;
        overflow: hidden;  
    }

    .hidden {
      display: none;
    }
    .hamburger {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
    }
    .hamburger i {
      font-size: 20px;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }